@text-color: #c4c3c3;
header {
    width: 100%;
    .top-adv {
        display: block;
        margin: auto;
        background: url('../img/headerBg.JPG') no-repeat center;
        height: 80px;
        overflow: hidden;
    }
    .lg_top {
        background: #333;
        line-height: 22px;
        height: 22px;
        font-size: 14px;
        .inner {
            width: 1308px;
            margin: auto;
            overflow: hidden;
            .app {
                a {
                    display: inline;
                    padding-left: 0 3px 0 3px;
                }
                color: #ccc;
                :nth-child(1) {
                    color: #00b38a;
                    &:hover {
                        color: #00da00;
                    }
                }
                :nth-child(2) {
                    color: @text-color;
                    &:hover {
                        color: #fff;
                    }
                }
                padding-left:13px;
                float: left;
                background: url('../img/app_icon.png') no-repeat 1px;
            }
            .login {
                color: @text-color;
                float: right;
                a {
                    color: @text-color;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
    .nav {
        background: #fafafa;
        height: 54px;
        border-top: 1px solid #d2d2d2;
        border-bottom: 1px solid #e5e5e5;
        .inner {
            width: 1200px;
            margin: auto;
            overflow: hidden;
            .l_nav {
                float: left;
                width: 260px;
                h1 {
                    float: left;
                    width: 97px;
                    height: 34px;
                    margin: 10px;
                    background: url('../img/logo.png') no-repeat center;
                }
                .suggest {
                    float: left;
                    height: 44px;
                    padding-top: 10px;
                    padding-left: 12px;
                    font-size: 16px;
                    line-height: 44px;
                    strong {
                        font-weight: normal;
                    }
                    em {
                        color: #999;
                        font-size: 12px;
                        cursor: pointer;
                        font-style: normal;
                    }
                }
                overflow: hidden;
            }
            .r_nav {
                float: left;
                li {
                    display: inline-block;
                    margin: 0 15px;
                    position: relative;
                    line-height: px;
                    a {
                        color: #999;
                        line-height: 53px;
                        font-size: 18px;
                    }
                    &:nth-child(1) {
                        a {
                            color: #333;
                        }
                        border-bottom:2px solid #00b38a;
                    }
                    &:hover{
                        a{
                        color: #333;
                            
                        }
                        border-bottom: 2px solid #00b38a;
                    }
                }
            }
        }
    }
}

section.main {
    .wordCut() {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
    }
    padding-bottom: 39px;
    .main-header {
        position: relative;
        &:after {
            display: block;
            clear: both;
            content: ''
        }
        .seach-wrapper {
            background: #f2f5f4;
            padding: 30px 0 28px;
            min-width: 1200px;
            .seach-box {
                width: 938px;
                height: 46px;
                margin: auto;
                position: relative;
                .seachInput {
                    width: 762px;
                    height: 20px;
                    line-height: 20px;
                    float: left;
                    font-size: 16px;
                    padding: 12px 16px;
                    margin: 0;
                    border: 1px solid #e8e8e8;
                    border-right: 0;
                }
                .seachSubmit {
                    float: left;
                    width: 142px;
                    height: 46px;
                    font-size: 18px;
                    color: #fff;
                    background: rgba(0, 179, 138, 1);
                    border: 0;
                    &:hover {
                        cursor: pointer;
                        background: rgb(2, 170, 150);
                        ;
                    }
                }
            }
            .pos-guss{
                display: none;
                position: relative;
                width: 938px;
                height: 0;
                margin: auto;
                .guss-wrapper{
                    position: absolute;
                    z-index: 100;
                    width: 795px;
                    background: #fff;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .08);
                    border-radius: 3px;
                    font-size: 14px;
                    span{
                        display: block;
                        color: #999;
                        padding: 5px 17px;
                    }
                    ul{
                        li{
                            color: #555;
                            padding: 8px 17px;
                            cursor: pointer;
                            &:hover{
                                background: #00b38a;
                                color:#fcfcfc;
                            }
                        }
                    }
                }
            }
            .hot-seach {
                width: 938px;
                height: 22px;
                overflow: hidden;
                margin: 6px auto 0;
                dt {
                    margin-right: 10px;
                    font-size: 14px;
                    color: #777;
                    float: left;
                }
                dd {
                    margin-right: 20px;
                    color: #999;
                    float: left;
                    font-size: 14px;
                    a {
                        color: #00b38a;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .main-body {
        position: relative;
        margin: 26px auto 0;
        width: 1200px;
        &:after {
            display: block;
            clear: both;
            content: ''
        }
        .sidebar {
            float: left;
            position: relative;
            width: 321px;
            margin-left: -15px;
            .navs {
                .navs-box {
                    position: relative;
                    &:hover {
                        .navs-main {
                            background: #fff;
                            box-shadow: 0 0 4px 2px rgba(0, 0, 0, .09);
                            border-top-left-radius: 2px;
                            border-bottom-left-radius: 2px;
                            z-index: 20;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: -7px;
                            width: 7px;
                            background: #fff;
                            z-index: 100;
                        }
                        .navs-sub {
                            display: block;
                        }
                    }
                    .navs-main {
                        position: relative;
                        padding: 18px 0 17px;
                        .cate-list {
                            position: relative;
                            height: 20px;
                            line-height: 20px;
                            overflow: hidden;
                            border-right: 0;
                            h2 {
                                display: inline-block;
                                padding-left: 15px;
                                font-size: 18px;
                                font-weight: normal;
                            }
                            a {
                                margin: 0 5px 5px 0;
                                padding: 8px;
                                white-space: nowrap;
                                color: #555;
                                font-size: 14px;
                                &:hover {
                                    color: #00b38a;
                                    text-decoration: underline;
                                }
                            }
                            .arror {
                                position: absolute;
                                right: 0;
                                top: 6px;
                                width: 6px;
                                height: 11px;
                                margin-right: 8px;
                                background: url('../img/arrow.png') no-repeat center;
                            }
                        }
                    }
                    .navs-sub {
                        display: none;
                        position: absolute;
                        left: 321px;
                        width: 600px;
                        padding: 20px 10px 0 12px;
                        top: 0;
                        z-index: 10;
                        background: 0;
                        background: #fff;
                        box-shadow: 0 0 4px 2px rgba(0, 0, 0, .09);
                        border-radius: 2px;
                        border-top-left-radius: 0;
                        dl {
                            margin: 0 0 17px;
                            dt {
                                position: relative;
                                width: 70px;
                                margin: 0;
                                padding-left: 10px;
                                font-size: 14px;
                                line-height: 20px;
                                margin-bottom: 6px;
                            }
                            dd {
                                color: #555;
                                font-size: 0;
                                overflow: hidden;
                                a {
                                    color: #777;
                                    display: inline-block;
                                    position: relative;
                                    margin-left: -1px;
                                    padding: 0 11px;
                                    font-size: 14px;
                                    line-height: 29px;
                                    &:hover {
                                        color: #00b38a;
                                        text-decoration: underline
                                    }
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        width: 1px;
                                        height: 12px;
                                        background: #D8D8D8;
                                        top: 8px;
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .banner {
            position: relative;
            margin-left: 360px;
            margin-top: 40px;
            // height: 346px;
            overflow: hidden;
            // background: #f2f5f4;
            .swiper-container {
                margin-top:20px;
                height: 346px;
                cursor: pointer;
                .swiper-button-prev,.swiper-button-next{
                    display: none;
                }
                &:hover{
                    .swiper-button-prev,.swiper-button-next{
                        display: block;
                    }
                }
                img{
                    height: 100%;
                    width: 100%;
                } 
            }  
        }
        .job_tab {
            margin-top: 52px;
            margin-bottom: 14px;
            border-bottom: 1px solid #e8e8e8;
            li {
                position: relative;
                cursor: pointer;
                display: inline-block;
                padding: 14px 0;
                margin-right: 58px;
                font-size: 16px;
                &.current {
                    border-bottom: 2px solid #333;
                    background: #fff;
                    color: #333;
                }
            }
        }
        .job_list {
            .list-ul {
                width: 1216px;
                display: none;
                &.disp{
                    display: block;
                }
                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
                li {
                    float: left;
                    box-sizing: border-box;
                    position: relative;
                    width: 389px;
                    height: 200px;
                    margin: 16px 16px 0 0;
                    padding: 20px 18px 0;
                    border: 1px solid #eaeeed;
                    background: #fff;
                    &:hover {
                        box-shadow: 0 0 4px 2px rgba(0, 0, 0, .09);
                    }
                    .top {
                        .top-l {
                            &:after {
                                content: '';
                                display: block;
                                clear: both;
                            }
                            .position-name {
                                float: left;
                                height: 22px;
                                max-width: 290px;
                                vertical-align: middle;
                                h2 {
                                    display: inline-block;
                                    vertical-align: middle;
                                    font-weight: 400;
                                    a {
                                        .wordCut();
                                        max-width: 125px;
                                        float: left;
                                        color: #555;
                                        background: transparent;
                                        &:hover {
                                            color: #00b38a;
                                        }
                                    }
                                }
                                span {
                                    color: #999;
                                    font-size: 14px;
                                }
                                .chat-me {
                                    display: inline-block;
                                    position: relative;
                                    top: 3px;
                                    width: 16px;
                                    height: 16px;
                                    background: url('../img/icon_chat2.png') no-repeat center;
                                    background-size: 16px 16px;
                                    cursor: pointer;
                                    &:hover {
                                        .chat-box {
                                            display: block;
                                        }
                                    }
                                    .chat-box {
                                        display: none;
                                        position: absolute;
                                        top: -30px;
                                        left: 40px;
                                        width: 312px;
                                        height: 132px;
                                        padding: 16px;
                                        background: #fff;
                                        z-index: 1;
                                        border-radius: 3px;
                                        border: 1px solid #dce4e6;
                                        box-shadow: 1px 1px 2px #f2f2f2;
                                        user-select: none;
                                        .arrow {
                                            position: absolute;
                                            left: -8px;
                                            top: 33px;
                                            width: 14px;
                                            height: 14px;
                                            margin: 0 !important;
                                            background-color: #fff;
                                            border-left: 1px solid #dce4e6;
                                            border-top: 1px solid #dce4e6;
                                            transform: rotate(-45deg);
                                        }
                                        .chat-main {
                                            &:after {
                                                content: '';
                                                display: block;
                                                clear: both;
                                            }
                                            dt {
                                                width: 116px;
                                                height: 116px;
                                                float: right;
                                                border: 1px solid #eee;
                                                margin-top: 6px;
                                                padding: 0;
                                            }
                                            dd {
                                                min-height: auto;
                                                clear: none;
                                                padding: 0;
                                                margin: 0;
                                                .chat-head {
                                                    &:after {
                                                        content: '';
                                                        display: block;
                                                        clear: both;
                                                    }
                                                    dt {
                                                        width: 62px;
                                                        height: auto;
                                                        float: left;
                                                        margin: 0 14px 10px 0;
                                                        background: 0 0;
                                                        border: 0;
                                                        padding: 0;
                                                        color: #fff;
                                                        background: #ff8590;
                                                        width: 62px;
                                                        height: 62px;
                                                        border-radius: 50%;
                                                        overflow: hidden;
                                                        font-size: 22px;
                                                        font-weight: 700;
                                                        line-height: 62px;
                                                        text-align: center;
                                                        img {}
                                                    }
                                                }
                                                dd {
                                                    min-height: 64px;
                                                    color: #333;
                                                    line-height: 22px;
                                                    .hr-name {
                                                        margin: 0;
                                                        font-size: 18px;
                                                        line-height: 30px;
                                                        color: #333;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;
                                                        white-space: nowrap;
                                                        word-wrap: normal;
                                                    }
                                                    .hr-position {
                                                        font-size: 14px;
                                                        line-height: 24px;
                                                        color: #666;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;
                                                        white-space: nowrap;
                                                        word-wrap: normal;
                                                    }
                                                }
                                                .tips {
                                                    clear: left;
                                                    font-size: 14px;
                                                    min-height: 64px;
                                                    color: #333;
                                                    line-height: 22px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .salary {
                            font-size: 16px;
                            color: #fa6041;
                            float: right;
                        }
                    }
                    .top-main {
                        height: 30px;
                        line-height: 30px;
                        color: #777;
                        .wordCut();
                        span {
                            line-height: 30px;
                            font-size: 14px;
                        }
                    }
                    .lable {
                        margin-top: 5px;
                        .lab-btm {
                            margin-right: 20px;
                            height: 30px;
                            line-height: 30px;
                            overflow: hidden;
                            span {
                                .wordCut();
                                display: inline-block;
                                width: 61px;
                                height: 26px;
                                padding: 0 5px;
                                font-size: 12px;
                                line-height: 26px;
                                color: #999;
                                border: 1px solid #f0f0f0;
                                border-radius: 3px;
                                text-align: center;
                            }
                        }
                    }
                }
                .btm {
                    margin-top: 18px;
                    padding-top: 18px;
                    border-top: 1px dashed #e0e0e0;
                    &:after {
                        content: '';
                        clear: both;
                        display: block;
                    }
                    >a {
                        float: left;
                        color: #555;
                        img {
                            border: 0;
                            vertical-align: top;
                            display: inline-block;
                        }
                    }
                    .btm-right {
                        font-size: 14px;
                        margin-left: 54px;
                        .name {
                            height: 20px;
                            line-height: 20px;
                            color: #333;
                            .wordCut();
                            a {
                                color: #555;
                                &:hover {
                                    color: #00b38a;
                                }
                            }
                        }
                        .industry {
                            height: 20px;
                            line-height: 20px;
                            color: #999;
                            .wordCut();
                            span {
                                line-height: 20px;
                                color: #999;
                            }
                        }
                    }
                }
            }
            
            .list-more {
                display: block;
                width: 387px;
                height: 42px;
                line-height: 42px;
                margin: 16px auto 0;
                background: #fff;
                border: 1px solid #00b38a;
                font-size: 16px;
                color: #00b38a;
                text-align: center;
                transition: background .3s, color .1s;
                &:hover {
                    background: #00b38a;
                    color: #fff;
                }
            }
        }
        .module {
            margin-top: 52px;
            margin-bottom: 14px;
            border-bottom: 1px solid #e8e8e8;
            li {
                position: relative;
                cursor: pointer;
                display: inline-block;
                padding: 14px 0;
                margin-right: 58px;
                font-size: 16px;
                &.current {
                    border-bottom: 2px solid #333;
                    background: #fff;
                    color: #333;
                }
            }
        }
        .companys {
            .list-ul {
                width: 1216px;
                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
                li {
                    float: left;
                    box-sizing: border-box;
                    position: relative;
                    width: 288px;
                    height: 270px;
                    margin: 16px 16px 0 0;
                    border: 1px solid #eaeeed;
                    background: #fff;
                    &:hover {
                        box-shadow: 0 0 4px 2px rgba(0, 0, 0, .09);
                    }
                    .top {
                        margin: 0 13px;
                        padding: 20px 0 14px;
                        text-align: center;
                        border-bottom: 1px dashed #e0e0e0;
                        p {
                            line-height: 22px;
                        }
                        .company-name {
                            height: 22px;
                            margin-top: 13px;
                            font-size: 16px;
                            color: #333;
                            .wordCut();
                            a {
                                color: #555;
                                &::hover {
                                    color: #00b38a;
                                }
                            }
                        }
                        .indus {
                            height: 22px;
                            margin-top: 3px;
                            color: #999;
                            font-size: 16px;
                            .wordCut();
                        }
                        .adv {
                            margin-top: 5px;
                            font-size: 16px;
                            color: #555;
                            .wordCut();
                        }
                    }
                    .btm {
                        &:after {
                            content: '';
                            display: block;
                            clear: both;
                        }
                        .bottom-1,
                        .bottom-2,
                        .bottom-3 {
                            width: 90px;
                            position: relative;
                            display: block;
                            margin-top: 17px;
                            text-align: center;
                            float: left;
                            &:hover {
                                color: #00b38a;
                            }
                            .green {
                                line-height: 1;
                                color: #00b38a;
                            }
                            .gray {
                                margin-top: 4px;
                                font-size: 12px;
                                color: #999;
                            }
                        }
                    }
                }
            }
            .list-more {
                display: block;
                width: 387px;
                height: 42px;
                line-height: 42px;
                margin: 16px auto 0;
                background: #fff;
                border: 1px solid #00b38a;
                font-size: 16px;
                color: #00b38a;
                text-align: center;
                transition: background .3s, color .1s;
                &:hover {
                    background: #00b38a;
                    color: #fff;
                }
            }
        }
        .linkbox {
            position: relative;
            margin-top: 52px;
            overflow: hidden;
            &.show {
                height: 98px;
            }
            dl {
                position: relative;
                dt {
                    border-bottom: 1px solid #e8e8e8;
                    color: #333;
                    margin-bottom: 21px;
                    span {
                        position: relative;
                        cursor: pointer;
                        display: inline-block;
                        padding: 14px 0;
                        margin-right: 58px;
                        font-size: 16px;
                        &.current {
                            border-bottom: 2px solid #333;
                            background: #fff;
                            color: #333;
                        }
                    }
                }
                .links {
                    position: relative;
                    width: 1120px;
                    color: #555;
                    font-size: 14px;
                    overflow: hidden;
                    a {
                        white-space: nowrap;
                        float: left;
                        height: 15px;
                        padding: 8px 18px 8px 0;
                        line-height: 15px;
                        color: #555;
                        font-size: 14px;
                        text-decoration: none;
                        &.more {
                            text-decoration: underline;
                        }
                        &:hover {
                            color: #00b38a;
                            text-decoration: underline;
                        }
                    }
                }
                .exp {
                    height: 20px;
                    position: absolute;
                    right: 3px;
                    top: 78px;
                    cursor: pointer;
                    color: #999;
                    i {
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        margin-left: 5px;
                        background: url('../img/arrow_down.png') no-repeat;
                        background-position: 0 5px;
                        background-size: 12px 6px;
                        &.i-up {
                            transform: rotate(180deg);
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}

.backtop {
    position: fixed;
    display: none;
    background: url('../img/backtop.png') no-repeat left top;
    background-size: auto;
    width: 28px;
    height: 46px;
    bottom: 88px;
    right: 40px;
    cursor: pointer;
    &:hover {
        background-position: right top;
    }
}

footer {
    min-width: 1024px;
    height: 67px;
    border-top: 1px solid #ebebeb;
    position: relative;
    .wrapper {
        width: 1024px;
        margin: 0 auto;
        position: relative;
        clear: both;
        .footer-logo {
            position: absolute;
            left: 0;
            top: 9px;
            z-index: 1;
            display: block;
            width: 198px;
            height: 19px;
            background: url('../img/footer_lagou.png') no-repeat center;
        }
        .inner {
            padding-top: 12px;
            float: right;
            height: 14px;
            line-height: 14px;
            white-space: nowrap;
            font-size: 14px;
            a {
                position: relative;
                float: left;
                margin-right: 14px;
                color: #555;
                i {
                    position: relative;
                    top: -1px;
                    display: inline-block;
                    width: 30px;
                    height: 16px;
                    overflow: hidden;
                    vertical-align: text-top;
                    font-style: normal;
                    background: url('../img/new.png') no-repeat center;
                }
                &:nth-child(1) {
                    img {
                        width: 160px;
                        height: 160px;
                        display: none;
                        position: absolute;
                        bottom: 20px;
                        left: 0;
                        z-index: 10;
                        background: #fff;
                        -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
                        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
                        border-radius: 3px;
                    }
                    &:hover {
                        img {
                            animation: opa 1s 1 0s;
                            ;
                            display: block;
                        }
                        @keyframes opa {
                            0% {
                                opacity: 0;
                            }
                            100% {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            span {
                margin-right: 0;
                float: left;
                em {
                    display: inline-block;
                    font-size: 13px;
                    font-style: normal;
                    margin-left: 5px;
                }
            }
        }
        .copy {
            clear: both;
            height: 12px;
            margin: auto;
            padding-top: 13px;
            padding-bottom: 14px;
            color: #d5d5d5;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
        }
    }
}